<h1>Update Owner</h1>

<h2>Edits for <%= @owner.name %></h2>
<form action="/owners/<%= @owner.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="owner_edit">Edit the Owner's Name: </label>
    <br>
    <input type="text" id="owner_edit" name="owner[name]" value="<%= @owner.name %>">
    <br>

 <h3>New Pet</h3>
    <label>Pet Name: </label>
    <br>
    <input type="text" name="pet[name]" id="pet_name"></input>
    <br><br>
 
    <input type="submit" value="Update Owner">
</form>